<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <p><a href="/">
        <button type="submit">Back</button>
    <p></a></p>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="${method}">Find user's tickets</span>
    </div>
</nav>

<div>
    <input type="text" name="id" class="form-control" placeholder="id">
    <button><a th:href="@{/createPDF}">Open PDF</a></button>
</div>

<section>
    <form th:action="@{/createPDF}" th:method="get">
        <div class="input-group mb-3">
            <input type="text" name="id" class="form-control" placeholder="id">
            <a href="/createPDF">
                <button type="submit">Generate tickets</button>
            </a>
        </div>
        <div>
            <input type="text" name="id" class="form-control" placeholder="id">
            <button><a th:href="@{/createPDF}">Generate tickets</a></button>
        </div>
    </form>
</section>

</body>
</html>